{% extends "base.html" %}
{% load staticfiles %}

{% block banner %}

{% endblock %}
{% block maincontent  %}


<div class="container">
			<div class="contact-info">

<h3 class="tittle1" style=" color:#E8B430;">Services</h3>
<div class="border"></div><br><br>



<h3 class="tittle2" style=" color:#E8B430;"><ul><li>Hair Transplant</li></ul></h3>



<br>

				<div class="container">
					<div class="contact-grids">
						<div class="col-md-4 contact-grid text-center">
							<h4  class="tittle2" style="color: black;">MESOTHERAPY</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">HAIR FALL SOLUTION</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">STEM CELL THERAPY</h4>
						</div>
						<div class="clearfix"></div>
					</div><br><br>
				</div>




<div class="container">
					<div class="contact-grids">
						<div class="col-md-4 contact-grid text-center">
							<h4 style="color: black;">BIO FUE TRANSPLANT</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">DIRECT HAIR FUSION </h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">EYEBROWS RESTORATION</h4>
						</div>
						<div class="clearfix"></div>
					</div><br><br>
				</div>


<div class="container">
					<div class="contact-grids">
						<div class="col-md-4 contact-grid text-center">
							<h4 style="color: black;">FEMALE HAIR TRANSPLANT</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">SCALP MICROPIGMENTATION</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">SYNTHETIC HAIR TRANSPLANT</h4>
						</div>
						<div class="clearfix"></div>
					</div><br><br>
				</div>


<div class="container">
					<div class="contact-grids">
						<div class="col-md-4 contact-grid text-center">
							<h4 style="color: black;">CROWN HAIR ADVANCEMENT</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">YOUTH HAIR IMPLANTATION</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">BODY TO HEAD HAIR TRANSPLANT</h4>
						</div>
						<div class="clearfix"></div>
					</div><br><br>
				</div>














<br><br>

<h3 class="tittle2" style=" color:#E8B430;"><ul><li>SKIN TREATMENT</li></ul></h3>



<br>

				<div class="container">
					<div class="contact-grids">
						<div class="col-md-4 contact-grid text-center">
							<h4  class="tittle2" style="color: black;">SKIN PRP</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">SKIN RESTORATION</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">SKIN FAIRNESS</h4>
						</div>
						<div class="clearfix"></div>
					</div><br><br>
				</div>




<div class="container">
					<div class="contact-grids">
						<div class="col-md-4 contact-grid text-center">
							<h4 style="color: black;">FILLERS</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">WRINKLES </h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">THREAD LIFT</h4>
						</div>
						<div class="clearfix"></div>
					</div><br><br>
				</div>


<div class="container">
					<div class="contact-grids">
						<div class="col-md-4 contact-grid text-center">
							<h4 style="color: black;">DERMAL THERAPIES</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">SCALP MICROPIGMENTATION</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">PROFESSIONAL PEELS</h4>
						</div>
						<div class="clearfix"></div>
					</div><br><br>
				</div>


<div class="container">
					<div class="contact-grids ">
						<div class="col-md-4 contact-grid text-center">
							<h4 style="color: black;">LASER HAIR REMOVAL</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;">SEMI-PERMANENT COSMETIC</h4>
						</div>
						<div class="col-md-4 contact-grid text-center">
							<h4  style="color: black;"></h4>
						</div>
						<div class="clearfix"></div>
					</div><br><br>
				</div>


</div>
</div>





{% endblock  %}
